
:root {
  --background-foot-head: #252F3D;
  --background-btn: #59AE43;
  --circle-section-primary:#85BF55;
  --subtitle-paragraph:#4D5254;
  --color-advertisements:#2C7EF8;
  --background-hero:#FAFAFA;
  --red:#F82C2C;
  --stars-color:#FFC000;
  --verified:#5BB59A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
 ::-webkit-scrollbar {
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

