.main{
    width: 100vw;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    margin-bottom: 4em;
}
.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: var(--subtitle-paragraph);
    font-weight: bold;
}
@media (max-width:768px){
   .main{
    margin-top: 1em;
    gap: 25px;

   }
}